.nav-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 38px;
}

.letf-side {
  display: flex;
}

.nav-wrapper > .letf-side > div {
  margin-right: 20px;
  font-size: 0.9em;
  text-transform: uppercase;
}
